/* Base styles */
:root {
  --color-background: #ffffff;
  --color-text: #333333;
  --color-accent: #fb0266;
  --color-accent-hover: #006ebc;
  --color-header-bg: rgb(255, 255, 255);
  --color-header-text: #444;
  --color-intro-bg: #eee;
  --color-intro-text: #333;
  --color-content-bg: #ddd;
  --color-content-text: #222;
  --color-footer-bg: #bbb;
  --color-footer-text: #111;
  --font-primary: 'Fira Code', monospace;
  --font-secondary: 'Source Code Pro', monospace;
  --spacing-unit: 1rem;
  --section-padding-large: 4rem;
  --section-padding-medium: 3rem;
  --section-padding-small: 2rem;
  --border-radius: 0.5rem;
  --transition-speed: 0.3s;
}

/* Focus styles for accessibility */
*:focus-visible {
  outline: 3px solid var(--color-accent);
  outline-offset: 3px;
  transition: outline-offset 0.2s ease;
}

/* Base element styles */
html {
  scroll-behavior: smooth;
  font-size: 16px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: var(--color-background);
  background-attachment: fixed;
  color: var(--color-text);
  font-family: var(--font-primary);
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: var(--spacing-unit);
}

h1 {
  font-size: 3em;
  letter-spacing: -0.05rem;
  font-weight: 100;
}

h2 {
  font-size: 2em;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

p, ol, ul {
  font-weight: 300;
  font-family: var(--font-secondary);
  line-height: 1.8rem;
  margin-bottom: var(--spacing-unit);
}

strong {
  font-weight: 700;
}

.small {
  font-size: 0.875rem;
  opacity: 0.8;
}

/* Link styles with better contrast for accessibility */
a {
  color: var(--color-accent);
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  transition: color var(--transition-speed) ease, text-decoration var(--transition-speed) ease;
}

a:hover, a:focus {
  color: var(--color-accent-hover);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* Section styles */
.section {
  padding: var(--section-padding-large);
  transition: background-color var(--transition-speed) ease;
}

#header {
  background: var(--color-header-bg);
  color: var(--color-header-text);
  position: relative;
}

#intro {
  background: var(--color-intro-bg);
  color: var(--color-intro-text);
  position: relative;
}

#intro::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(to right, rgba(0,0,0,0.05), rgba(0,0,0,0.02), rgba(0,0,0,0.05));
}

#content {
  background: var(--color-content-bg);
  color: var(--color-content-text);
}

#footer {
  background: var(--color-footer-bg);
  color: var(--color-footer-text);
}

/* Lists and content spacing */
ul, ol {
  padding-left: 1.5rem;
}

ul li {
  margin-bottom: var(--spacing-unit);
}

ul li p:last-child {
  margin-bottom: 0;
}

.project-list {
  list-style-type: none;
  padding-left: 0;
}

.project-list > li {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  transition: transform var(--transition-speed) ease;
}

.project-list > li:hover {
  transform: translateX(4px);
}

.project-list > li:last-child {
  border-bottom: none;
}

.project-list h3 {
  margin-bottom: 0.5rem;
}

.project-list ul {
  margin-top: 0.5rem;
  list-style-type: disc;
  padding-left: 1.5rem;
}

.contact-info {
  margin-top: 3rem;
  padding: 1.5rem;
  background: rgba(0,0,0,0.05);
  border-radius: var(--border-radius);
  transition: background-color var(--transition-speed) ease;
}

.contact-info:hover {
  background: rgba(0,0,0,0.08);
}

.email-text {
  font-style: italic;
}

.footer-meta {
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(0,0,0,0.1);
}

hr {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  margin: 3em 0;
}

/* Wave text animation */
.wavy-text, .wavy-text-wrapper {
  display: inline-block;
}

.wavy-char {
  display: inline-block;
  position: relative;
  animation: wave-bounce 3s ease-in-out infinite;
  transform-origin: center center;
}

@keyframes wave-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-4px) rotate(-2deg);
  }
  75% {
    transform: translateY(2px) rotate(2deg);
  }
}

/* Skip to content link for accessibility */
.skip-to-content {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background: var(--color-background);
  color: var(--color-text);
  z-index: 9999;
  padding: 1rem;
  border: 2px solid var(--color-accent);
  border-radius: var(--border-radius);
  transition: transform var(--transition-speed) ease;
}

.skip-to-content:focus {
  position: fixed;
  top: 5px;
  left: 5px;
  width: auto;
  height: auto;
  transform: translateY(0);
  clip: auto;
}

/* Add styles for code blocks and inline code */
code {
  font-family: var(--font-primary);
  background-color: rgba(0,0,0,0.05);
  padding: 0.1em 0.3em;
  border-radius: 3px;
  font-size: 0.9em;
}

/* Responsive design */
@media (max-width: 1200px) {
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.8em;
  }
}

@media (max-width: 992px) {
  .section {
    padding: var(--section-padding-medium);
  }
  
  h1 {
    font-size: 2.2em;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  
  .section {
    padding: var(--section-padding-small);
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  h3 {
    font-size: 1.2em;
  }
  
  .project-list > li:hover {
    transform: none;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 13px;
  }
  
  .section {
    padding: var(--spacing-unit);
  }
  
  .project-list > li {
    margin-bottom: 1.5rem;
  }
  
  ul, ol {
    padding-left: 1.2rem;
  }
  
  .skip-to-content:focus {
    width: 80%;
    text-align: center;
  }
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #121212;
    --color-text: #e5e5e5;
    --color-accent: #ff4081;
    --color-accent-hover: #00a0e9;
    --color-header-bg: #121212;
    --color-header-text: #ffffff;
    --color-intro-bg: #1a1a1a;
    --color-intro-text: #e0e0e0;
    --color-content-bg: #222222;
    --color-content-text: #d0d0d0;
    --color-footer-bg: #333333;
    --color-footer-text: #cccccc;
  }
  
  a:hover, a:focus {
    color: var(--color-accent-hover);
  }
  
  .contact-info {
    background: rgba(255,255,255,0.05);
  }
  
  .contact-info:hover {
    background: rgba(255,255,255,0.08);
  }
  
  hr {
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  
  .project-list > li {
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  
  .footer-meta {
    border-top: 1px solid rgba(255,255,255,0.1);
  }
  
  code {
    background-color: rgba(255,255,255,0.1);
  }
  
  #intro::after {
    background: linear-gradient(to right, rgba(255,255,255,0.05), rgba(255,255,255,0.02), rgba(255,255,255,0.05));
  }
  
  .wavy-text {
    color: #00a0e9;
  }
}

/* Print styles */
@media print {
  body {
    font-size: 12pt;
    background: white;
    color: black;
  }
  
  .section {
    padding: 1rem;
    page-break-inside: avoid;
    background: white !important;
    color: black !important;
  }
  
  a {
    color: black;
    text-decoration: underline;
  }
  
  h1, h2, h3 {
    page-break-after: avoid;
  }
  
  img {
    max-width: 100% !important;
  }
  
  .wavy-char {
    animation: none;
    transform: none;
  }
  
  .skip-to-content,
  .webring-widget {
    display: none !important;
  }
  
  .project-list > li {
    border-bottom: 1px solid #ddd;
  }
  
  #intro::after {
    display: none;
  }
} 