
<hr>

<div class="content">

    <h2>Recommendations</h2>

    <p>I have a reputation for making recommendations for things, so here's a bunch of stuff I recommend without any guarantees or warranty:</p>

    <h3>Music</h3>

    <ul>
        <li><a href="https://spotify.com/">Spotify</a> is pretty good. I've tried Tidal and Qobuz, but wasn't impressed with their recommendation engines. Since I don't want to spend all my time curating my own playlists, this is pretty important to me. I do wish Spotify's audio quality was better.</li>
        <li>These are my favorite playlists: <a href="https://open.spotify.com/playlist/20q38dJrLSodSdx8dDHBCP?si=PKBOdEG2QNmZfvfaS9-Lmw">Chill Beats</a>, <a href="https://open.spotify.com/playlist/1xYtHEuLGoqcdjQtIQCbSi?si=gYTzFuZRQACSfT4I9QRbcQ">Imma badass</a>, <a href="https://open.spotify.com/playlist/0ALxmSKA38csYdTUd60ozH?si=PmBR1fh-QPuTdFNFbWYExg">Roadtrippin Jazz</a>.</li>
        <li>My Top Songs playlists: <a href="https://open.spotify.com/playlist/37i9dQZF1EM3NolV4m7OHZ?si=92da12af0dd84416">2020</a>, <a href="https://open.spotify.com/playlist/37i9dQZF1EtroUVMWMelSg?si=3ad881f0b9084073">2019</a>.</li>
    </ul>

    <h3>Gear</h3>

    <ul>
        <li>I like <a href="https://www.schiit.com/home">Schiit</a> audio gear. I have a lot of their kit and I love all of it. They're a small shop, all made in the USA, and they're cool people. My audio stack is:
        <ul>
            <li>A Schiit <a href="https://www.schiit.com/products/asgard">Asgard</a> Amp/Dac/Preamp that I use to power my headphones and preamp my amp.</li>
            <li>A Schiit <a href="https://www.schiit.com/products/modi-1">Modi</a> that I use for connecting my second computer.</li>
            <li>A Schiit <a href="https://www.schiit.com/products/aegir">Aegir</a> amp for my speakers.</li>
            <li>A pair of <a href="https://www.stereophile.com/content/epos-epic-2-loudspeaker-robert-j-reina">Epos Epic 2's</a>, which are no longer a thing you can buy, so, sorry.</li>
            <li>Sennheiser x Drop <a href="https://drop.com/buy/massdrop-sennheiser-hd6xx">HD 6XX</a> headphones for when I need to make less noise or take a call.</li>
        </ul></li>
        <li>Jabra's bluetooth earbuds are extremely passable and real cheap as refurbs on eBay.</li>
    </ul>

    <h3>Tech</h3>

    <ul>
        <li>My home lab runs <a href="https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/about/">HyperV</a>. It is a perfectly passable hypervisor. You can pick up Windows Server for cheap and build a home lab with almost no effort. Don't @ me I don't care about your k8s opinions. Yes all of my VMs are Linux. Yes I know you can also do this with Linux itself. No I still don't want to hear your k8s opinions.</a></li>
    </ul>

    <h3>Books</h3>

    <ul>
        <li>Sci-fi
            <ul>
                <li><a href="https://www.amazon.com/Area-Southern-Annihilation-Authority-Acceptance/dp/0374261172/ref=sr_1_1?dchild=1&keywords=southern+reach+trilogy&qid=1623550392&sr=8-1">The Southern Reach Trilogy</a> - Annhiliation (the movie) sucked. The book was insanely good. Read if you like long slow journies through existential crisis and are fascinated with cosmic horror.</li>
                <li>The Hitchhiker's Guide to the Galaxy</li>
                <li>The Expanse series</li>
                <li>There is no Anitmemetics Division</li>
            </ul></li>
        <li>Design
            <ul>
                <li><a href="https://www.amazon.com/Elements-Typographic-Style-Robert-Bringhurst/dp/0881791326">The Elements of Typographic Style</a> - A foundational text on typography, which unless you're just doing illustration (and even then, you know), probably matters a whole lot. This book is everything you need to know about type and how to use it. It also spends a lot of time talking about the basics of layout design in a very fundamental way, so that's helpful too.</li>
                <li><a href="https://mitpress.mit.edu/books/living-complexity">Living With Complexity</a> - The cover is a koan on design. Everything you need to meditate over to learn how to do UX is right there.</li>
                <li><a href="https://www.amazon.com/Badass-Making-Awesome-Kathy-Sierra/dp/1491919019">Badass: Making Users Awesome</a></li>
            </ul>
        </li>
    </ul>

</div>